body {
    font-family: Arial, sans-serif;
    background-color: #e8ebf2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1f2633;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2c3441;
    color: white;
    font-size: 16px;
}

.submit-btn {
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.submit-btn:disabled {
    background-color: #4a5568;
    cursor: not-allowed;
}

.progress-bar {
    background-color: #3b3f50;
    border-radius: 50px;
    position: relative;
    height: 15px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-bar-inner {
    background: linear-gradient(90deg, #f05d61, #e463d5);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: width 0.5s linear;
}

.question-container {
    margin: 20px 0;
}

.question-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

.options label {
    display: block;
    background: #2c3441;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.options input {
    display: none;
}

.options input:checked + label {
    background-color: #f05d61;
}

.timer {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #f05d61;
}

.hidden {
    display: none;
}